<script>var CAPIMG={{ gorras.items | capimg(assetsBase) | safe }};
function swapCap(n,c,el){var img=document.getElementById('front-'+n);if(img&&CAPIMG[n]&&CAPIMG[n][c]){img.src=CAPIMG[n][c];}var b=el.parentNode.getElementsByClassName('cdot');for(var i=0;i<b.length;i++){b[i].classList.remove('active');}el.classList.add('active');}
</script>